@import "../../styles/common.scss";

.page {
  height: 100svh;
  width: 100svw;
  overflow: hidden;
  display: flex;
  position: relative;

  @include Responsive(SM) {
    display: block;
  }
}

.drawerWrapper {
  display: none;

  @include Responsive(SM) {
    display: block;
  }
}

.searchWrapper {
  width: 50%;
  height: 100svh;

  @include Responsive(SM) {
    width: 100%;
  }
}

.mapWrapper {
  width: 50%;
  height: 100svh;

  @include Responsive(SM) {
    // display: none;
    width: 100%;
    height: calc(100% - 40px);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }
}

.close {
  z-index: 0;
  @include Responsive(SM) {
    z-index: -1;
  }
}

.open {
  @include Responsive(SM) {
    z-index: 10;
  }
}

.mapBoxHeader {
  background: white;
  display: none;

  @include Responsive(SM) {
    display: block;
  }
}

.resultBox {
  margin-top: 16px;
  height: calc(100svh - 290px);
  overflow: hidden;
  overflow-y: scroll;
}

.mapBox {
  height: 100%;
  width: 100%;
}

.popup {
  padding: 0 16px;
  font-size: 14px;

  > * {
    margin: 0;
    padding: 0;
  }

  > p {
    font-weight: bold;
    margin-bottom: 5px;
  }

  > ul {
    padding: 0 10px;
  }
}
